src/*.exe
src/zilbercoin
src/zilbercoind
src/test_zilbercoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.zilbercoin

# Compilation and Qt preprocessor part
*.qm
Makefile
zilbercoin-qt
Zilbercoin-Qt.app

# Unit-tests
Makefile.test
zilbercoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
